#MAKE SURE TO INCLUDE in mysite/_config/ecommerce.yml
#... denotes other modifiers you may want to include
Order:
  modifiers:
    - ...
    - PickUpOrDeliveryModifier
    - ...

# options for electronic delivery
ElectronicDelivery_OrderLog:
  random_folder_name_character_count: 12
  add_htaccess_file: true
  files_to_be_excluded: []
  permissions_on_folder: "0755"
  order_dir: "downloads"
