#MAKE SURE TO INCLUDE in mysite/_config/ecommerce.yml
Order:
  modifiers:
    - OtherModifierA
    - PickUpOrDeliveryModifier
    - GSTTaxModifier

ElectronicDelivery_OrderLog:
  random_folder_name_character_count: 12
  add_htaccess_file: true
  files_to_be_excluded: []
  permissions_on_folder: "0755"
  order_dir: "downloads"
